@import url(http://fonts.googleapis.com/css?family=Buenard|Flavors);
@import url(http://fonts.googleapis.com/css?family=Montserrat);

html{
  -webkit-appearance: none;
  width:600px;
  height:420px;
  font-family: 'Montserrat';
  margin-right:20px;
}

body{
  width:600px;
  height:300px;
  font-family: 'Montserrat';
  margin:10px;
}

.hidden{
  display:none;
  font-family: Buenard|Flavors;
}

h1 {
  margin:10px;
  font-family: Buenard|Flavors;
}

a {
  float: right;
  padding: 10px;
  font-size: 16px;
}

h2{
  margin-left: 10px;
  margin-top: 20px;
}

#error {
  margin:10px;
  color: #FF472E;
}


#login-form{
  top: 120px;
  position: fixed;
}
textarea {
  white-space:pre-wrap;
}

#body{
  width:580px;
  height:100px;
  margin:10px;
}

#notes{
  width:580px;
  height:60px;
  margin:10px;
}


#tag_list{
  width:580px;
  height:30px;
  margin:10px;
}

.submit{
  -webkit-appearance: none;
  height:30px;
  border: 1px solid #aaa;
  border-top: 1px solid #ccc;
  border-left: 1px solid #ccc;
  margin: 10px;
  width: 100px;
  border-radius: 3px;
  background-color: #E5E5E5;
  font-size: 12px;
}


label{
  margin: 10px;
}