@import url(http://fonts.googleapis.com/css?family=Buenard|Flavors);
@import url(http://fonts.googleapis.com/css?family=Montserrat);
@import url(http://fonts.googleapis.com/css?family=Rokkitt);


.form-control {
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.428571429;
  color: #555555;
  vertical-align: middle;
  background-color: #ffffff;
  background-image: none;
  border: 1px solid #cccccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
          transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}

.form-control:focus {
  border-color: #66afe9;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
}

.form-control:-moz-placeholder {
  color: #999999;
}

.form-control::-moz-placeholder {
  color: #999999;
}

.form-control:-ms-input-placeholder {
  color: #999999;
}

.form-control::-webkit-input-placeholder {
  color: #999999;
}

.form-control[disabled],
.form-control[readonly],
fieldset[disabled] .form-control {
  cursor: not-allowed;
  background-color: #eeeeee;
}

textarea.form-control {
  height: auto;
}

.btn {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.428571429;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
       -o-user-select: none;
          user-select: none;
}

.btn:focus {
  outline: thin dotted #333;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

.btn:hover,
.btn:focus {
  color: #333333;
  text-decoration: none;
}

.btn:active,
.btn.active {
  background-image: none;
  outline: 0;
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
          box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}

.btn.disabled,
.btn[disabled],
fieldset[disabled] .btn {
  pointer-events: none;
  cursor: not-allowed;
  opacity: 0.65;
  filter: alpha(opacity=65);
  -webkit-box-shadow: none;
          box-shadow: none;
}

.btn-default {
  color: #333333;
  background-color: #ffffff;
  border-color: #cccccc;
}

.btn-default:hover,
.btn-default:focus,
.btn-default:active,
.btn-default.active,
.open .dropdown-toggle.btn-default {
  color: #333333;
  background-color: #ebebeb;
  border-color: #adadad;
}

.btn-default:active,
.btn-default.active,
.open .dropdown-toggle.btn-default {
  background-image: none;
}

/*/*
/*/

<<<<<<< HEAD
=======
@import url(http://fonts.googleapis.com/css?family=Buenard|Flavors);
@import url(http://fonts.googleapis.com/css?family=Montserrat);
@import url(http://fonts.googleapis.com/css?family=Rokkitt);


>>>>>>> 605c6de56fb4fee1ac64c9149e4ae784b2765b73
html {
  -webkit-appearance: none;
  width: 500px;
  height: 350px;
  font-family: 'Montserrat';
  margin-right: 20px;
}

body{
  background-color: #F1F1F1;
  color: #332118;
  width: 500px;
  height: 350px;
  font-family: 'Montserrat';
  margin: 10px;
}

.hidden{
  display: none;
  font-family: 'Buenard';
}

h1 {
  margin:10px;
  font-family: 'Rokkitt', serif;
  font-weight: 700;
}

a {
  float: right;
  padding: 10px;
  font-size: 16px;
}

h2{
  margin-left: 10px;
  margin-top: 20px;
}

#error {
  margin:10px;
  color: #FF472E;
}

input {
  font-size: 14px;
  width: 300px;
  height: 30px;
  margin: 10px;
}


#login-form{
  top: 110px;
  position: fixed;
}

textarea {
  white-space: pre-wrap;
  line-height: 1.2em;
}

#body{
  width: 480px;
  height: 100px;
  margin: 10px 0px 10px 10px;
}

#notes{
  width: 480px;
  height: 60px;
  margin: 10px;
}

#tag_list{
  width: 480px;
  height: 30px;
  margin: 10px;
}

#message{
  margin:10px;
  color: #0DAF31;
}

.submit{
  -webkit-appearance: none;
  height:30px;
  width: 100px;
}


label{
  margin: 10px;
}